version: '3.8'

services:
  php:
    build:
      context: ./docker/php
    container_name: php
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crypto_balance_monitor
    ports:
      - "3306:3306"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
